.head-sec-fi h1{
    border-bottom: 0.1em solid #a8dadc;
    width: 6em;
    font-size: 1.5em;
}
.main-img img{
    height:30rem;
    width: 30%;
    margin: calc(10%/6);
 
}
.foot-sec-fi{
    text-align: center;
}
.foot-sec-fi img{
    width: 1%;
}
::selection{
    color: black;
}